{% include 'sections__hero__variation_1' %}

{% schema %}
{
	"name": "Hero",
	"settings": [
		{
			"type": "header",
			"content": "Toggle"
		},
		{
			"type": "checkbox",
			"id": "toggle",
			"label": "Toggle Section On/Off"
		},
		{
			"type": "image_picker",
			"id": "desktop-image",
			"label": "Desktop Background Image"
		},
		{
			"type": "image_picker",
			"id": "mobile-image",
			"label": "Mobile Background Image"
		},
		{
			"type": "select",
			"id": "flex-align",
			"label": "Content Align",
			"options": [
				{
					"value": "fa--left-top",
					"label": "Left // Top"
				},
				{
					"value": "fa--left-center",
					"label": "Left // Center"
				},
				{
					"value": "fa--left-bottom",
					"label": "Left // Bottom"
				},
				{
					"value": "fa--center-top",
					"label": "Center // Top"
				},
				{
					"value": "fa--center-center",
					"label": "Center // Center"
				},
				{
					"value": "fa--center-bottom",
					"label": "Center // Bottom"
				},
				{
					"value": "fa--right-top",
					"label": "Right // Top"
				},
				{
					"value": "fa--right-center",
					"label": "Right // Center"
				},
				{
					"value": "fa--right-bottom",
					"label": "Right // Bottom"
				}
			],
			"info": "Values are Horizontal // Vertical"
		},
		{
			"type": "select",
			"id": "text-align",
			"label": "Text Align",
			"options": [
				{
					"value": "ta--left",
					"label": "Left"
				},
				{
					"value": "ta--right",
					"label": "Right"
				},
				{
					"value": "ta--center",
					"label": "Center"
				}
			]
		}
	],
	"blocks": [
		{
			"type": "eyebrow",
			"name": "Eyebrow",
			"settings": [
				{
					"type": "color",
					"id": "text-color",
					"label": "Text Color",
					"default": "#0739c2"
				},
				{
					"type": "color",
					"id": "background-color",
					"label": "Background Color",
					"default": "#fff"
				},
				{
					"type": "color",
					"id": "linear-background-color",
					"label": "Gradient Color",
					"default": "#fff"
				},
				{
					"type": "text",
					"id": "text-content",
					"label": "Title"
				},
				{
                    "type": "checkbox",
                    "id": "has_ribbon",
                    "label": "Ribbon",
					"default": false
                }
			]
		},
		{
			"type": "disclaimer",
			"name": "Disclaimer",
			"settings": [
				{
					"type": "text",
					"id": "text-content",
					"label": "Title"
				}
			]
		},
		{
			"type": "heading",
			"name": "Headline",
			"settings": [
				{
					"type": "color",
					"id": "text-color",
					"label": "Text Color",
					"default": "#fff"
				},
				{
					"type": "text",
					"id": "text-content",
					"label": "Title"
				}
			]
		},
		{
			"type": "text",
			"name": "Description",
			"settings": [
				{
					"type": "color",
					"id": "text-color",
					"label": "Text Color",
					"default": "#fff"
				},
				{
					"type": "textarea",
					"id": "text-content",
					"label": "Description"
				}
			]
		},
		{
			"type": "button",
			"name": "Button",
			"settings": [
				{
					"type": "color",
					"id": "button-color",
					"label": "Button Color",
					"default": "#2be08d"
				},
				{
					"type": "color",
					"id": "hover-color",
					"label": "Hover Color",
					"default": "#2be08d"
				},
				{
					"type": "color",
					"id": "text-color",
					"label": "Text Color",
					"default": "#fff"
				},
				{
					"type": "text",
					"id": "button-url",
					"label": "Button URL"
				},
				{
					"type": "text",
					"id": "button-text",
					"label": "Button Text",
					"info": "To include small text below, use a <span></span>"
				}
			]
		}
	]
}
{% endschema %}