<div class="page-width">
  <div data-stockist-widget-tag="u16349">Loading store locator from <a href="https://stockist.co">Stockist store locator</a>...</div>
</div>

<script>// <![CDATA[
  (function(s,t,o,c,k){c=s.createElement(t);c.src=o;c.async=1;
  k=s.getElementsByTagName(t)[0];k.parentNode.insertBefore(c,k);
  })(document,'script','//stockist.co/embed/v1/widget.min.js');
// ]]></script>
<style>
  .page-width{
    max-width: 1240px;
    padding: 0 20px;
    margin: auto;
  }
</style>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}