{% section 'collections-closeout-header' %}

{% section 'collection-our-mattresses' %}

{% comment %}
{% section 'staggered-content--sale-page' %}

<div class="faq-component">
	{% section 'global-faq-component' %}
</div>

{% section 'staggered-content-collection-mattresses' %}
{% endcomment %}