{% section 'collections-mattresses-standard-content' %}

{% section 'collection-our-mattresses' %}

{% section 'collection-mattress-pdp-simple-grid' %}

{% section 'staggered-content--sale-page' %}

<div class="our-mattresses-block">
  	<div class="our-mattresses-block-title">How do they stack up against each other?</div>
	<div class="cs-text-center">
  		<a class="btn-white btn shadow" href="/pages/compare-features">Compare Features</a>
  	</div>
</div>

<div class="faq-component">
	{% section 'global-faq-component' %}
</div>

{% section 'staggered-content-collection-mattresses' %}