{% section 'standard-content-header' %}
{% section 'section-publications-2' %}
{% section 'content-grid' %}
{% section 'fiberglass-free-detail' %}
{% section 'fiberglass-free-content' %}
<div class="our-mattresses-block">
	<div class="cs-text-center">
  		<a class="btn-blue btn shadow" href="/collections/mattresses">Shop Mattresses</a>
  	</div>
</div>
{% section 'simple-grid-fiberglass' %}
{% section 'fiberglass-free-features' %}
{% section 'review-grid-fiberglass'%}
{% section 'life-style-grid' %}
