<div class="fcompare-wrapper">

  	<div class="fcompare-inner">
      	{% comment %}
      	<div class="fcompare-breadcrumb-wrapper">
	      	<a class="fcompare-breadcrumb" href="/collections/mattresses">Our Mattresses</a>
      	</div>
      	{% endcomment %}

        <h1 class="cs-page-title">{{ page.title }}</h1>
      	<h2 class="cs-page-description text-center">There's no wrong choice with America's fastest growing mattress brand</h2>

        <div class="fcompare-tabs">
          	<span class="fcompare-active"></span>
          	<ul class="fcompare-tab">
              	<li class="active"><a href="javascript:void(0);">Hybrid</a></li>
    	        <li><a href="javascript:void(0);">Pro</a></li>
	            <li><a href="javascript:void(0);">Bear</a></li>
          	</ul>
      	</div>

      	{% section 'compare-feature-table' %}
      
      	{% section 'page-compare-standard-content-2' %}

      	{% section 'compare-mattress-rating' %}

      	{% section 'page-compare-standard-content' %}

      	{% section 'compare-advantage-grid' %}

      	{% section 'pdp-simple-grid' %}

      	{% section 'staggered-content--compare' %}
  	</div>
</div>