{% section 'our-story-centered-content' %}
<div>
<a class="typeform-share button" href=https://helixsleep.typeform.com/to/XCaVIZFZ data-mode="popup" data-auto-open=true data-hide-headers=true data-hide-footer=true data-submit-close-delay="1" target="_blank" id="typeform-survey-link"> 
</a> 
  <script> document.getElementById("typeform-survey-link").setAttribute("href", https://helixsleep.typeform.com/to/XCaVIZFZ?email= + Shopify.checkout.email); (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b=https://embed.typeform.com/; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
</div>
