{% section 'warranty-standard-content' %}

<div class="wrapper page-margin warranty-main">
  <div class="grid warranty-wrapper">
    <div class="grid__item one-whole">
      <div class="grid-uniform">
      {{ page.content }}
    </div>
  </div>
</div>